// Fonts

$font-accent: 'Marck Script', serif;
$font-secondary: 'Open Sans', sans-serif;

//color
$white: #ffffff;
$green: rgb(0, 135, 61);
$green-accent: rgb(3, 200, 92);
$grafit: #7b7b7b;
$gragit-lite: #bfbebe;
$black: #000000;
$gragit-black: #2c2c2c;
