// Fonts

$font-accent: 'Marck Script', serif;
$font-secondary: 'Open Sans', sans-serif;


//color
$white: #ffffff;
$green:rgb(0, 135, 61);
$green-accent:rgb(3, 200, 92);
$grafit:#7B7B7B;
$gragit-lite:#bfbebe;
$black:#000000;
